<dw-content class="dw-f-content-list layoutClass sales_layout service-order-form">
  <div class="issue_layout_head">
    <h2 class="issue_layout_title">
      <span style="margin-left: 3px;" *ngIf="!id">新建服务工单</span>
      <span style="margin-left: 3px;" *ngIf="!!id">修改服务工单</span>
      <div style="float: right;">

        <button dw-button [dwType]="'primary'" (click)="save(null)" [disabled]="!doc.valid || !urgencyList.length"
          [angularticsAction]="id?'修改-点击确定修改':'新建-点击确定新建'" [angularticsCategory]="'服务工单'" dw-analyticsOn="click"
          angularticsLabel="{{userInfo.tenantId + ',' + userInfo.userId}}"
          [id]="id?'sure-modify-service-order':'sure-create-service-order'">
          <span translate>保存</span>
        </button>
        <button dw-button type="button" [dwType]="'default'" (click)="cancel()"><span translate>取消</span></button>
      </div>
    </h2>
  </div>
  <dw-divider></dw-divider>
  <div class="content-box">
    <form dw-form *ngIf="service_order.controls[0]" [formGroup]="service_order.controls[0]">
      <div dw-row [dwGutter]="16">
        <div dw-col [dwSpan]="8">
          <dw-form-item style="margin-bottom: 24px;">
            <dw-form-label style='width:145px' dwRequired>服务类型</dw-form-label>
            <dw-form-control>
              <dw-input-group dwSearch [dwSuffix]="suffixServiceTypeData">
                <input dw-input type="text" required readonly dw-input formControlName="service_type_name">
              </dw-input-group>
              <ng-template #suffixServiceTypeData>
                <em dw-icon class="ant-input-clear-icon" dwTheme="fill" dwType="close-circle"
                  *ngIf="service_order.controls[0].controls['service_type_name'].value"
                  (click)="clear('service_type')"></em>
                <button dw-button dwType="primary" dwSearch (click)="openServiceType()" type="button">
                  <em dw-icon dwType="search" dwTheme="outline"></em>
                </button>
              </ng-template>
            </dw-form-control>
          </dw-form-item>
        </div>
      </div>

      <app-expand-down [title]="'客户信息'" type='expand' style="margin-bottom: 24px;">
        <div name='content' dw-row [dwGutter]="16">
          <div dw-col [dwSpan]="8">
            <dw-form-item>
              <dw-form-label style='width:145px' dwRequired>客户</dw-form-label>
              <dw-form-control>
                <dw-input-group dwSearch [dwSuffix]="suffixcustomerData">
                  <input dw-input type="text" required readonly dw-input formControlName="customer_name"
                    placeholder="请选择">
                </dw-input-group>
                <ng-template #suffixcustomerData>
                  <em dw-icon class="ant-input-clear-icon" dwTheme="fill" dwType="close-circle"
                    *ngIf="service_order.controls[0].controls['customer_name'].value && !id"
                    (click)="clear('customer')"></em>
                  <button dw-button [disabled]="!!id" dwType="primary" dwSearch (click)="openCustomer()" type="button">
                    <em dw-icon dwType="search" dwTheme="outline"></em>
                  </button>
                </ng-template>
              </dw-form-control>
            </dw-form-item>
          </div>
          <div dw-col [dwSpan]="8">
            <dw-form-item>
              <dw-form-label style='width:145px'><span style="color: red;">*&nbsp;</span>联系人</dw-form-label>
              <dw-form-control>
                <input dw-input placeholder="请输入联系人" maxlength="60" formControlName='contact' required>
              </dw-form-control>
            </dw-form-item>
          </div>
          <div dw-col [dwSpan]="8">
            <dw-form-item>
              <dw-form-label style='width:145px'><span style="color: red;">*&nbsp;</span>联系电话</dw-form-label>
              <dw-form-control [dwValidateStatus]="contact_phone_tip.warnType">
                <input dw-input placeholder="请输入" formControlName='contact_phone' maxlength="50"
                  (blur)="contact_phone_tip.validInput()" required>
                <app-valid-input #contact_phone_tip [value]="service_order.controls[0].value.contact_phone"
                  [type]="'foreignMobile'">
                </app-valid-input>
              </dw-form-control>
            </dw-form-item>
          </div>
          <div dw-col [dwSpan]="24">
            <dw-form-item>
              <dw-form-label style='width:145px'><span *ngIf="!isServiceMan" style="color: red;">*&nbsp;</span>地址
              </dw-form-label>
              <dw-form-control>
                <input dw-input placeholder="请输入" maxlength="255" formControlName='address'>
              </dw-form-control>
            </dw-form-item>
          </div>
          <div dw-col [dwSpan]="8">
            <dw-form-item *ngIf="service_order.controls[0].controls['install_debug_accept'].value||service_order.controls[0].controls['maintain'].value">
              <dw-form-label style='width:145px' dwRequired>预约日期</dw-form-label>
              <dw-form-control>
                <dw-date-picker required formControlName="appointment_date" [dwFormat]="yyyy-MM-dd"
                  [dwDisabledDate]="disabledAppointmentDate"></dw-date-picker>
              </dw-form-control>
            </dw-form-item>
          </div>
          <div dw-col [dwSpan]="24" *ngIf="(service_order.controls[0].controls['install_debug_accept'].value||service_order.controls[0].controls['maintain'].value)">
            <dw-form-item>
              <dw-form-label style="width:145px">附件</dw-form-label>
              <dw-form-control>
                  <div class="upFiles">
                    <div class="upload">
                      <dw-upload [(dwFileList)]="attachmentsList" [dwBeforeUpload]="beforeUploadFiles"
                        [dwShowUploadList]="false" style="margin-bottom: 8px;" (dwChange)="handleFileChange($event)"
                        [dwAccept]="'.doc,.docx,.pdf,.xls,.xlsx,.ppt,.pptx'">
                        <button dw-button [disabled]="attachmentsDisable"><em dw-icon dwType="upload"></em>文件上传</button>
                      </dw-upload>
                      <div *ngFor="let item of attachmentsList;let idx = index">
                        <div class="chosen-file" *ngIf="item.state !== 'D'" dw-row>
                          <div class="type-icon" dw-col>
                            <em dw-icon dwType="paper-clip" dwTheme="outline"></em>
                          </div>
                          <div class="file-name" dw-col>{{item.name}}</div>
                          <div class="del" (click)="deleteFile(idx)" dw-col>
                            <em dw-icon dwType="delete" dwTheme="outline" style=" color: #1677FF;"></em>
                          </div>
                        </div>
                      </div>
                      <div class="tip">支持扩展名：.doc .docx .pdf .xlsx .xls .ppt .pptx </div>
                    </div>
                  </div>
              </dw-form-control>
            </dw-form-item>
          </div>
        </div>
      </app-expand-down>

      <app-expand-down [title]="service_order.controls[0].value.type === '1'?'设备信息':'产线/项目信息'" type='expand'
        style="margin-bottom: 24px;">
        <div name='right-icon'
          *ngIf="!id&&service_order.controls[0].value.type === '1'&&(service_order.controls[0].controls['install_debug_accept'].value)">
          <button dw-button type="button" (click)="openProductFile()" [dwType]="'default'"
            [disabled]="!service_order.controls[0].get('customer_name').value">
            <em dw-icon dwType="plus"></em>
            <span translate>添加设备</span>
          </button>
        </div>
        <div name='content' dw-row [dwGutter]="16">
          <div dw-col [dwSpan]="8" *ngIf="!service_order.controls[0].value.maintain">
            <dw-form-item>
              <dw-form-label style="width:145px" dwRequired>类型</dw-form-label>
              <dw-form-control>
                <dw-radio-group formControlName="type" (ngModelChange)="typeRadioChange($event)">
                  <label dw-radio [dwValue]="'1'">单机</label>
                  <label dw-radio [dwValue]="'2'">产线/项目</label>
                </dw-radio-group>
              </dw-form-control>
            </dw-form-item>
          </div>
          <ng-container
            *ngIf="!!id||service_order.controls[0].value.type === '2'||(service_order.controls[0].value.type === '1'&&(!service_order.controls[0].controls['install_debug_accept'].value))">
            <div dw-col [dwSpan]="8">
              <dw-form-item>
                <dw-form-label style="width:145px" *ngIf="service_order.controls[0].value.type === '1'" dwRequired>设备编号
                </dw-form-label>
                <dw-form-label style="width:145px" *ngIf="service_order.controls[0].value.type === '2'" dwRequired>
                  产线/项目编号
                </dw-form-label>
                <dw-form-control dw-col>
                  <dw-input-group dwSearch [dwSuffix]="suffixProductFileData">
                    <input dw-input type="text" readonly required formControlName="product_file_code">
                  </dw-input-group>
                  <ng-template #suffixProductFileData>
                    <em dw-icon class="ant-input-clear-icon" dwTheme="fill" dwType="close-circle"
                      *ngIf="service_order.controls[0].controls['product_file_code'].value"
                      (click)="clear('product_file')"></em>
                    <button dw-button dwType="primary"
                      [disabled]="!service_order.controls[0].get('customer_name').value" dwSearch
                      (click)="openProductFile()" type="button">
                      <em dw-icon dwType="search" dwTheme="outline"></em>
                    </button>
                  </ng-template>
                </dw-form-control>
              </dw-form-item>
            </div>

            <div dw-col [dwSpan]="8">
              <dw-form-item>
                <dw-form-label style="width:145px" *ngIf="service_order.controls[0].value.type === '1'">设备名称
                </dw-form-label>
                <dw-form-label style="width:145px" *ngIf="service_order.controls[0].value.type === '2'">产线/项目名称
                </dw-form-label>
                <dw-form-control>
                  <input dw-input readonly formControlName='product_file_name'>
                </dw-form-control>
              </dw-form-item>
            </div>

            <div dw-col [dwSpan]="8">
              <dw-form-item>
                <dw-form-label style="width:145px" *ngIf="service_order.controls[0].value.type === '1'">设备规格
                </dw-form-label>
                <dw-form-label style="width:145px" *ngIf="service_order.controls[0].value.type === '2'">产线/项目规格
                </dw-form-label>
                <dw-form-control>
                  <input dw-input readonly formControlName='specification'>
                </dw-form-control>
              </dw-form-item>
            </div>

            <div dw-col [dwSpan]="8">
              <dw-form-item>
                <dw-form-label *ngIf="service_order.controls[0].value.type === '1'" style="width: 145px;">设备型号
                </dw-form-label>
                <dw-form-label *ngIf="service_order.controls[0].value.type === '2'" style="width: 145px;">产线/项目型号
                </dw-form-label>
                <dw-form-control>
                  <input dw-input readonly formControlName='model'>
                </dw-form-control>
              </dw-form-item>
            </div>

            <div dw-col [dwSpan]="8">
              <dw-form-item>
                <dw-form-label style="width: 145px;" dwRequired *ngIf="service_order.controls[0].value.type === '1'">序列号
                </dw-form-label>
                <dw-form-label style="width: 145px;" dwRequired *ngIf="service_order.controls[0].value.type === '2'">项目号
                </dw-form-label>
                <dw-form-control>
                  <input dw-input formControlName='sn' (keydown)="chkSNchg('keydown',$event)" id="snInput"
                    (focus)="chkSNchg('focus',$event)" (blur)="chkSNchg('focusout',$event)" required>
                </dw-form-control>
              </dw-form-item>
            </div>

            <div dw-col [dwSpan]="8">
              <dw-form-item>
                <dw-form-label style="width: 145px;">出库日期</dw-form-label>
                <dw-form-control>
                  <input dw-input readonly formControlName='delivery_date'>
                </dw-form-control>
              </dw-form-item>
            </div>

            <div dw-col [dwSpan]="8">
              <dw-form-item>
                <dw-form-label style="width: 145px;">是否在保</dw-form-label>
                <dw-form-control>
                  <dw-radio-group dwDisabled="true" formControlName="is_under_warranty">
                    <label dw-radio [dwValue]="true">是</label>
                    <label dw-radio [dwValue]="false">否</label>
                  </dw-radio-group>
                  <!-- <label dw-checkbox dwDisabled="true" formControlName='is_under_warranty'>在保</label> -->
                </dw-form-control>
              </dw-form-item>
            </div>
          </ng-container>
          <!-- 新增时，service_type.install_debug_accept=true 单机设备开窗：可多选 -->
          <ng-container
            *ngIf="!id&&service_order.controls[0].value.type === '1'&&(service_order.controls[0].controls['install_debug_accept'].value)">
            <div dw-col [dwSpan]="24">
            <dw-form-item>
              <dw-table #dwTable1 [dwData]="product_file_list" [dwFrontPagination]="false" [dwShowPagination]="false"
                [dwScroll]="{ x: '1000px',y: 'calc(100vh - 171px - 140px)' }">
                <thead>
                  <tr dw-tr>
                    <th dw-th width="140">
                      <span translate>设备编号</span>
                    </th>
                    <th dw-th width="140">
                      <span translate>设备名称</span>
                    </th>
                    <th dw-th width="140">
                      <span translate>设备序列号</span>
                    </th>
                    <th dw-th width="150">
                      <span translate>设备规格</span>
                    </th>
                    <th dw-th width="140">
                      <span translate>设备型号</span>
                    </th>
                    <th dw-th width="120">
                      <span translate>出库日期</span>
                    </th>
                    <th dw-th class="align-center" width="100">
                      <span translate>在保</span>
                    </th>
                    <th dw-th dwRight class="align-center" width="100">
                      <span translate>操作</span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of dwTable1.data; index as index">
                    <td dwEllipsis [title]="data.product_file_code">
                      {{data.product_file_code}}
                    </td>
                    <td dwEllipsis [title]="data.product_file_name">
                      {{data.product_file_name}}
                    </td>
                    <td dwEllipsis [title]="data.sn">
                      {{data.sn}}
                    </td>
                    <td dwEllipsis [title]="data.specification">
                      {{data.specification}}
                    </td>
                    <td dwEllipsis [title]="data.model">
                      {{data.model}}
                    </td>
                    <td dwEllipsis [title]="data.delivery_date">
                      {{data.delivery_date}}
                    </td>
                    <td class="align-center">
                      <label [ngModelOptions]="{standalone: true}" dw-checkbox dwDisabled="true"
                        [(ngModel)]="data.is_under_warranty"></label>
                    </td>
                    <td class="align-center" dwRight>
                      <div class="action-grid">
                        <div (click)="deleteProductFile(index)" title="删除">
                          <a>删除</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </dw-table>
            </dw-form-item>
            </div>
          </ng-container>
        </div>

      </app-expand-down>

      <ng-container
        *ngIf="!!id||service_order.controls[0].value.type === '2'||(service_order.controls[0].value.type === '1'&&(!service_order.controls[0].controls['install_debug_accept'].value&&!service_order.controls[0].controls['maintain'].value))">
        <app-expand-down style="margin-bottom: 24px;" [title]="'设备信息'" type='expand'
          *ngIf="service_order.controls[0].value.type === '2'">
          <div name='right-icon'>
            <button dw-button type="button" (click)="openEquipments()" [dwType]="'default'">
              <em dw-icon dwType="plus"></em>
              <span translate>添加报修设备</span>
            </button>
            <app-opener-frontend #selectOpener (selectedChanged)="openSelect($event)"></app-opener-frontend>
          </div>
          <div name='content'>
            <dw-table #dwTable [dwData]="equipments_for_show" [dwFrontPagination]="false" [dwShowPagination]="false">
              <thead>
                <tr dw-tr>
                  <th dw-th>
                    <span translate>设备编号</span>
                  </th>
                  <th dw-th>
                    <span translate>设备名称</span>
                  </th>
                  <th dw-th>
                    <span translate>设备序列号</span>
                  </th>
                  <th dw-th>
                    <span translate>设备规格</span>
                  </th>
                  <th dw-th>
                    <span translate>设备型号</span>
                  </th>
                  <th dw-th dwRight class="align-center">
                    <span translate>操作</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of dwTable.data">
                  <td>
                    {{data.code}}
                  </td>
                  <td>
                    {{data.name}}
                  </td>
                  <td>
                    {{data.sn}}
                  </td>
                  <td>
                    {{data.specification}}
                  </td>
                  <td>
                    {{data.model}}
                  </td>
                  <td class="align-center">
                    <div class="action-grid">
                      <div (click)="deleteEquipment(data.index)" title="删除">
                        <a>删除</a>

                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </dw-table>
          </div>
          <!-- <div dw-col [dwSpan]="8" *ngIf="service_order.controls[0].value.type === '2'">
              <dw-form-item>
                <dw-form-control style="width: 145px;"></dw-form-control>
                <dw-form-control >

                </dw-form-control>
              </dw-form-item>
            </div> -->
        </app-expand-down>
      </ng-container>

      <ng-container *ngIf="!(service_order.controls[0].controls['install_debug_accept'].value||service_order.controls[0].controls['maintain'].value)">
        <app-expand-down [title]="'故障信息'" type='expand' style="margin-bottom: 24px;">
          <div name="content" dw-row [dwGutter]="16">
            <div dw-col [dwSpan]="8">
              <dw-form-item>
                <dw-form-label style="width:145px"
                  [dwRequired]="!(service_order.controls[0].controls['install_debug_accept'].value||service_order.controls[0].controls['maintain'].value)">
                  故障类型</dw-form-label>
                <dw-form-control>
                  <dw-cascader [dwChangeOnSelect]="true" [dwShowSearch]="true" [dwOptions]="dwBreakdownOptions"
                    [(ngModel)]="breakdownValues" [ngModelOptions]="{standalone: true}"
                    (ngModelChange)="onBreakdownChanges($event)" (dwSelectionChange)="onBreakdownChanges($event)">
                  </dw-cascader>
                </dw-form-control>
              </dw-form-item>
            </div>
            <div dw-col [dwSpan]="8">
              <dw-form-item>
                <dw-form-label style="width:145px" dwRequired>预约日期</dw-form-label>
                <dw-form-control>
                  <dw-date-picker required formControlName="appointment_date" [dwFormat]="yyyy-MM-dd"
                    [dwDisabledDate]="disabledAppointmentDate"></dw-date-picker>
                </dw-form-control>
              </dw-form-item>
            </div>
            <div dw-col [dwSpan]="8" style="display: flex;">
              <dw-form-item>
                <dw-form-label style="width:145px" dwRequired>渠道</dw-form-label>
                <dw-form-control>
                  <dw-select formControlName="channel" (ngModelChange)="onOpenRange($event)" style="width: 100%;">
                    <dw-option *ngFor="let channelItem of channelList" [dwLabel]="channelItem.label"
                      [dwValue]="channelItem.value">
                    </dw-option>
                  </dw-select>
                </dw-form-control>
              </dw-form-item>
              <dw-form-item *ngIf="service_order.controls[0].controls['channel'].value === '5'"
                style="margin-left: 4px;flex: inherit;">
                <dw-form-control>
                  <input *ngIf="service_order.controls[0].controls['channel'].value === '5'" dw-input placeholder="请说明"
                    maxlength="60" formControlName='channel_explanation'>
                </dw-form-control>
              </dw-form-item>
            </div>
            <!-- <div dw-col   [dwSpan]="8" *ngIf="service_order.controls[0].controls['channel'].value === '5'">
              <dw-form-item *ngIf="service_order.controls[0].controls['channel'].value === '5'">
                <dw-form-label style="width:145px"></dw-form-label>
                <dw-form-control>
                  <input dw-input placeholder="请说明" maxlength="60" formControlName='channel_explanation'>
                </dw-form-control>
              </dw-form-item>
            </div> -->
            <div dw-col [dwSpan]="24">
              <dw-form-item>
                <dw-form-label style="width:145px"
                  [dwRequired]="!(service_order.controls[0].controls['install_debug_accept'].value||service_order.controls[0].controls['maintain'].value)">
                  问题描述</dw-form-label>
                <dw-form-control>
                  <div *ngIf="!service_order.controls[0].controls['fault_phrase'].value" class="choose-phrase"
                    (click)="openPhrase()">+ 常用语</div>
                  <div *ngIf="service_order.controls[0].controls['fault_phrase'].value" class="phrase">
                    {{service_order.controls[0].controls['fault_phrase'].value}}
                    <img src="../../../../../../assets/img/icon_cancel.png" (click)="delPhrase()" alt="删除">
                  </div>
                  <textarea maxlength="200" [dwAutosize]="{ minRows: 8, maxRows: 8 }" dw-input placeholder="200字以内"
                    formControlName='description'></textarea>
                </dw-form-control>
              </dw-form-item>
            </div>
            <div dw-col [dwSpan]="24">
              <dw-form-item>
                <dw-form-label style="width:145px">紧急程度</dw-form-label>
                <dw-form-control>
                  <dw-radio-group formControlName="service_urgency_id" (ngModelChange)="radioChange()">
                    <label dw-radio *ngFor="let urgency of urgencyList"
                      [dwValue]="urgency.service_urgency_id">{{urgency.service_urgency_name}}</label>
                  </dw-radio-group>
                </dw-form-control>
              </dw-form-item>
            </div>
            <div dw-col [dwSpan]="24">
              <dw-form-item>
                <dw-form-label style="width:145px">故障图片</dw-form-label>
                <dw-form-control>
                  <div class="clearfix order-upload-view">
                    <dw-upload dwAction="https://www.mocky.io/v2/5cc8019d300000980a055e76" dwListType="picture-card"
                      [(dwFileList)]="fileList" [dwShowButton]="fileList.length < 10" [dwPreview]="handlePreview"
                      (dwChange)="onUploadChange()" [dwBeforeUpload]="beforeUpload"
                      [dwShowUploadList]="{showPreviewIcon: true, showRemoveIcon: true}" [dwAccept]="'.png,.jpg'"
                      class="order-upload-list">
                      <em dw-icon dwType="plus" class="plus-icon"></em>
                      <div class="ant-upload-text">上传图片</div>
                    </dw-upload>
                    <dw-modal [dwVisible]="previewVisible" [dwContent]="modalContent" [dwFooter]="null"
                      (dwOnCancel)="previewVisible = false">
                      <ng-template #modalContent>
                        <img [src]="previewImage" [ngStyle]="{ width: '100%' }" alt="故障图片" />
                      </ng-template>
                    </dw-modal>
                  </div>
                </dw-form-control>
              </dw-form-item>
            </div>
            <div dw-col [dwSpan]="24">
              <dw-form-item>
                <dw-form-label style="width:145px">故障视频</dw-form-label>
                <dw-form-control>
                  <div dw-col dwSpan="24">
                    <div class="ant-upload-list ant-upload-list-picture-card" [ngClass]="{'my-list' : isDemoStyle}">
                      <ng-container *ngFor="let file of thumbnailList2; trackBy: trackByUid">
                        <dw-image-viewer-list-item [dwListType]="'picture-card'" [dwFile]="file"
                          [dwItemAction]="listActionMap2[file.uid]" [dwDesignTpl]="designTpl"
                          [onPreview]="handlePreview2" [onRemove]="handleRemove2" [onCheck]="handleCheck"
                          [onOtherAction]="handleOtherAction" class="order-upload-view-list">

                          <ng-template #titleTpl let-fileItem>
                            <div><a>{{file.title}}</a></div>
                            <!-- <div>{{file.type}}</div> -->
                            <!-- <div *ngIf="isDemoStyle">name: {{file.name}}</div> -->
                            <!-- <div *ngIf="isDemoStyle">size: {{file.size}} byte</div> -->
                          </ng-template>
                          <ng-template #designTpl let-fileItem>
                            <div class="myTitleTag" *ngIf="file.isAudit">{{'dw-demo-image-viewer-audit' | translate}}
                            </div>
                          </ng-template>
                        </dw-image-viewer-list-item>
                      </ng-container>
                    </div>
                    <dw-upload dwAction="" [dwCustomRequest]="customReq" [(dwFileList)]="thumbnailList2"
                      [dwShowUploadList]="false" (dwChange)="uploadChange($event)" [dwMultiple]="true"
                      [dwDisabled]="isCheckShow2 || fileUploadingCount > 0" [dwAccept]="'.mp4'">
                      <button class="upload-btn" dw-button
                        [disabled]="isCheckShow2 || fileUploadingCount > 0||thumbnailList2.length==3" type="button">
                        <em dw-icon dwType="plus" class="plus-icon"></em><span>上传视频</span>
                      </button>
                    </dw-upload>
                  </div>
                </dw-form-control>
              </dw-form-item>
            </div>
            <div dw-col [dwSpan]="24" *ngIf="!(service_order.controls[0].controls['install_debug_accept'].value||service_order.controls[0].controls['maintain'].value)">
              <dw-form-item>
                <dw-form-label style="width:145px">附件</dw-form-label>
                <dw-form-control>
                    <div class="upFiles">
                      <div class="upload">
                        <dw-upload [(dwFileList)]="attachmentsList" [dwBeforeUpload]="beforeUploadFiles"
                          [dwShowUploadList]="false" style="margin-bottom: 8px;" (dwChange)="handleFileChange($event)"
                          [dwAccept]="'.doc,.docx,.pdf,.xls,.xlsx,.ppt,.pptx'">
                          <button dw-button [disabled]="attachmentsDisable"><em dw-icon dwType="upload"></em>文件上传</button>
                        </dw-upload>
                        <div *ngFor="let item of attachmentsList;let idx = index">
                          <div class="chosen-file" *ngIf="item.state !== 'D'" dw-row>
                            <div class="type-icon" dw-col>
                              <em dw-icon dwType="paper-clip" dwTheme="outline"></em>
                            </div>
                            <div class="file-name" dw-col>{{item.name}}</div>
                            <div class="del" (click)="deleteFile(idx)" dw-col>
                              <em dw-icon dwType="delete" dwTheme="outline" style=" color: #1677FF;"></em>
                            </div>
                          </div>
                        </div>
                        <div class="tip">支持扩展名：.doc .docx .pdf .xlsx .xls .ppt .pptx </div>
                      </div>
                    </div>
                </dw-form-control>
              </dw-form-item>
            </div>

          </div>
        </app-expand-down>
      </ng-container>

      <app-expand-down [title]="'备注'" type='expand' style="margin-bottom: 24px;">

        <dw-form-item name='content'>
          <dw-form-label style="width:145px">备注</dw-form-label>
          <dw-form-control>
            <textarea maxlength="50" [dwAutosize]="{ minRows: 4, maxRows: 4 }" dw-input placeholder="50字以内"
              formControlName='remark'></textarea>
          </dw-form-control>
        </dw-form-item>
      </app-expand-down>

      <app-expand-down [title]="'附加信息'" type='expand' *ngIf="serviceOrderHasCustomizeField"
        style="margin-bottom: 24px;">
        <dw-form-item name='content'>
          <dw-form-control>
            <dw-extra-fields cols="3" inputSpan="24" [group]="service_order.controls[0]" [dwDocument]="doc"
              tableName="service_order" class="addition-info">
            </dw-extra-fields>
          </dw-form-control>
        </dw-form-item>
      </app-expand-down>
    </form>
  </div>
  <app-breakdown-opener #breakOpener [visible]="isBreakdownVisible" [isMultyChoose]="false"
    (breakVisibleChanged)="breakChangeVisible($event)">
  </app-breakdown-opener>
</dw-content>
<!-- 重复报修的提示模板 -->
<ng-template #exm>
  <div style="max-height: 340px;overflow-y: auto;margin-top: -8px;">
    <div>当前产品仍有工单处于未完工状态，工单单号：</div>
    <div *ngFor="let itm of exmMsg">
      <a (click)="seeDetail(itm)">{{itm.doc_no}}</a>
    </div>
    <div>确定要进行保存吗？</div>
  </div>
</ng-template>

<!-- 查看重复报修的产品的未完工工单详情 -->
<dw-modal [dwBodyStyle]="{ height: 'calc(100vh - 48px)', overflow: 'auto', 'padding':'0 24px' }" [dwMaskClosable]="true"
  [dwWidth]="1120" [(dwVisible)]="isCollapsed" [dwTitle]="'服务工单详情'" [dwFooter]="null" (dwOnCancel)="isCollapsed=false;">
  <ng-template dwModalContent>
    <app-service-order-detail #child></app-service-order-detail>
  </ng-template>
</dw-modal>

<!-- 业务员报修时的客户开窗 -->
<app-customer-for-salesman-opener #child3 [visible]="isCustomerVisible"
  (customerVisibleChanged)="customerChangeVisible($event)"></app-customer-for-salesman-opener>
