<dw-modal [dwBodyStyle]="{ height: '450px', overflow: 'auto', 'padding-bottom':'8px' }" [dwMaskClosable]="false"
  [dwWidth]="800" [(dwVisible)]="visible" [dwTitle]="'dynamic.dynamic_key_3474' | translate" (dwOnCancel)="close()" (dwOnOk)="chooseOk()"
  (dwAfterClose)="afterClose()" [dwBodyStyle]="{
    'padding-top':'16px'
  }">
  <ng-template dwModalContent>
    <div class="wrapper">
      <div class="top-box">
        <div class="search-box">
          <div class="search" (click)="getMaterialGroups()">
            <em dw-icon dwType="search" dwTheme="outline"></em>
          </div>
          <input [(ngModel)]="searchValue" (keydown)="onKeydown($event)" dw-input type="text" [placeholder]="'dynamic.dynamic_key_3473' | translate">
          <div class="close" *ngIf="searchValue" (click)="clearInput()">
            <em dw-icon class="ant-input-clear-icon" dwTheme="fill" dwType="close-circle"></em>
          </div>
        </div>
      </div>

      <div class="choose-wrap">
        <div class="swiper-tab">
          <div [class]="currOrigTab == idx ? 'swiper-tab-list tab-on' : 'swiper-tab-list'"
            *ngFor="let item of materialGroups; let idx = index" (click)="swichNav(idx)">
            {{item.assistant_name}}
          </div>
        </div>
        <!-- 多选处理 -->
        <dw-checkbox-wrapper (dwOnChange)="checkboxChange($event)" class="radio-group">
          <div [class]="currOrigTab == idx ? 'scroll-box' : 'scroll-box hide'"
            *ngFor="let item of materialGroups; let idx = index">
            <dw-table [dwFrontPagination]="false" dwShowSizeChanger #dwTable [dwData]="materialGroups[idx].list"
              [dwTotal]="materialGroups[idx].rowCount" [(dwPageIndex)]="materialGroups[idx].pageIndex"
              [(dwPageSize)]="materialGroups[idx].pageSize" (dwPageIndexChange)="pageIndexChange($event)"
              (dwPageSizeChange)="pageSizeChange($event)">
              <thead>
                <tr dw-tr>
                  <th dw-th dwWidth="40px">
                    <span translate></span>
                  </th>
                  <th dw-th>
                    <span translate>{{"dynamic.dynamic_key_3472" | translate}}</span>
                  </th>
                  <th dw-th>
                    <span translate>{{"dynamic.dynamic_key_3471" | translate}}</span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of dwTable.data">
                  <td width="40" [dwAlign]="'center'">
                    <label dw-checkbox [dwValue]="data.custom_service_cost_id"></label>
                  </td>
                  <td>
                    {{data.service_cost_code}}
                  </td>
                  <td>
                    {{data.service_cost_name}}
                  </td>
                </tr>
              </tbody>
            </dw-table>
          </div>
        </dw-checkbox-wrapper>
      </div>
    </div>
  </ng-template>
</dw-modal>
